body {
    background-color: black;
   }
   .container{
       display: grid;
       grid-template-columns: repeat(3,1fr);
   }
   #card{
       grid-column: 2/3;
       background-color: blueviolet;
       text-align: center;
       border-bottom: 10px solid black;
   }

   .spring{
    background-color: cadetblue;
   }

   .summer{
    background-color: coral ;
   }

   .fall{
    background-color: orangered;
   }

   .winter{
    background-color: darkblue;
   }